.footer {

        &__logo {
            width: 100%;
            max-width: 100px;
            height: auto;
        }

        &__line {
            height: 1px;
            background-color: #ccc; 
            margin: 1rem 5rem 1rem 5rem;           
        }

        &__links {
            display: flex;
            justify-content: center;
            gap: 5rem;
        }
   
}