.header {

    @media screen and (min-width: $widthMinTablet) {
        padding: 0 4rem 0 4rem;
    }

    &__logo {
        width: 100%;
        max-width: 100px;
        height: auto;
    }

}

/* Changes in Bootstrap */

.nav-link:hover {
    font-weight: 700;
    color: $secondary;
}

.active {
    font-weight: 700;
}